*{
	box-sizing: border-box;
	overflow: auto;
	max-width: 1200px;


}
body{
	background-color: #C70039;
	color: white;
	font-family: "Lucida Console", "Courier New", monospace;
	width: 1200px;
	height: 3000px;
	overflow: hidden;
	max-width: 1200px;
	overflow: hidden;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border: 0px;
	position: static;
	     }


}
#titulo{
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 40px;
	margin-top: 20px;
	height: 5000px;

}


#subtitulo{
	text-align: center;
	font-style: italic;
	font-weight: 100px;
	font-size: 35px;
	padding: 0px;
	border: 0px;
	margin-left: 100px;


}

#pilar2{
  background-color: black;
  width: 350px;
  height: 650px;
  position: absolute;
  left: 400px;
  padding: 0px;
  border: 0px;

}

.contenedor{
  width: 1200px;
  height: 700px;
  position: relative;
  background-color: white;
  left: 60px;
}


#pilar1{
	background-color: green;
	width: 350px;
	height: 650px;
	position: absolute;
	left: 800px;
	margin: 0px;
	border: 0px;
}
#pilar3{
  background-color: orange;
  width: 350px;
  height: 650px;
  position: absolute;
  left: 20px;
  padding: 0px;
  border: 0px;
}

.titpilar{
	margin-right: 20px;
	margin-left: 20px;
	font-size: 40px;
	text-align: center;
}

.parrafospilares {
	margin: 40px;
	margin-top: 70px;
	padding: 0px;
	font-size: 25px;
}

#trabajo1{
	position: absolute;
	top: 900px;
	background-color: darkblue; 
    width: 1300px;
    padding: 0px;
    border: 0px;
	}
.linklist{
	list-style: none;
}



#trabajo2{
	background-color: yellow;
	position: absolute;
	top: 1200px;
	border: 200px;
}
a:link, a:visited{
	text-decoration: none;
	background-color: white;
	border: 1px solid black;
	display: block;
	width: 200px;
	margin-bottom: 1px;
	text-align: center;
}
a:hover, a:active{
	background-color: orange;
	color: purple;
}