body{
  background-image:url('file:///C:/Users/still/Downloads/noche-cielo-estrellas-y-cometa_3840x2160_xtrafondos.com.jpg');
  );
}
.encabezado {
 color: red;
 text-align: center;
}
.segundaparte {
color: white;
text-align: center;
}
.terceraparte{
  color: white;
  font-size: 15px;
  text-align: center;
}
